{% extends 'base.html'%}
{% block title%}
Add Item to Inventory
{%endblock%}

{% block content%}
<body class="text-center">
    <div class="container">
        <form method ="POST" class= "form-register" style="color:white">
            {{form.hidden_tag() }}
            <h1 class ="h3 mb-3 font-weight-normal">
                Please Enter Item Details
            </h1>
            {{form.name.label()}}
            {{form.name(class="form-control", placeholder="Name") }}

            {{form.description.label()}}
            {{form.description(class="form-control", placeholder="Description")}}

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock%}