<style>
  .modal-content{
    background-color:#212121
  }
</style>


<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            Please edit the fields you would like to change
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- copied-->
          <form method = "POST">
            <div class="form-group">
              <label for="edit-name" class="col-form-label">Name:</label>
              <input type="text"  class="form-control" id="new-name" name ="new-name" value = {{item.name}}>
            </div>
            <div class="form-group">
              <label for="edit-stock" class="col-form-label">Stock:</label>
              <input type="text"  class="form-control" id="new-stock" name ="new-stock" value = {{item.stock}}>
            </div>
            <div class="form-group">
              <label for="edit-description" class="col-form-label">Description:</label>
              <textarea name = "new-description" class="form-control" id="new-description">{{item.description}}</textarea>

            </div>
            <input id="edited_item" name="edited_item" type="hidden" value="{{item.name}}">
            {{edit_form.submit(class ="btn btn-outline-danger btn-block")}}
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="Modal-DeleteConfirm-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            {{item.name}}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form method="POST">
            {{ delete_form.hidden_tag() }}

            <h4 class = "text-center">
              Are you sure you want to delete {{item.name}}?
            </h4>
            <br>
            <h6 class = "text-center">
              You may add deletion comments
            </h6>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Deletion Comments:</label>
              <textarea name = "d_comment" class="form-control" id="message-text"></textarea>
            </div>

            <br>
            <input id="deleted_item" name="deleted_item" type="hidden" value="{{item.name}}">
            {{delete_form.submit(class ="btn btn-outline-danger btn-block")}}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>